body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.chat-container {
    width: 400px;
    background: #1e293b;
    border-radius: 10px;
    overflow: hidden;
}

.chat-header {
    background: #3b82f6;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.chat-box {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.user {
    background: #22c55e;
    text-align: right;
}

.bot {
    background: #334155;
}

.input-area {
    display: flex;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    background: #3b82f6;
    border: none;
    color: white;
}
